# Visual Studio ile ilgili dosyalar
.vs/
*.suo
*.user
*.vcxproj.user
*.dbmdl
*.pfx
*.publishsettings
Backup*/
.env

# Rider / Resharper ile ilgili dosyalar
.idea/
*.sln.iml

# ASP.NET Core bağımlılıkları
bin/
obj/
*.log
logs/
logs/*

# Uygulama tarafından oluşturulan dosyalar
appsettings.Development.json
appsettings.Local.json
appsettings.Production.json
secrets.json
.env.local
.env.development
.env.production

# Paket yöneticileri
node_modules/
npm-debug.log
yarn-error.log
pnpm-lock.yaml
package-lock.json
wwroot/lib

# Bower paketleri
bower_components/

# NuGet ile ilgili dosyalar
*.nupkg
project.lock.json
*.lock.json

# Entity Framework Migrations
Migrations/

# Kullanıcı spesifik dosyalar
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Logs, profiler, debug ve crash dosyaları
*.pid
*.swo
*.swp
*.cache

# JetBrains Rider ve Resharper ile ilgili dosyalar
.idea/
*.dotCover
*.sln.iml
