@model string
@{
ViewBag.Title = "Toplantı Başvuru";
}
<h1 class="h4">@ViewBag.greet, @ViewBag.userName</h1>
<p>Toplantı katılım durumunuz bildiriniz.</p>
<a class="btn btn-sm btn-outline-primary" asp-controller="Meeting" asp-action="Apply">Başvuru Yap</a>